.input-buscar {
    width: 25rem;
    border-radius: 0.3rem;
    height: 2.1rem;
    margin-right: 2rem;
    padding: 7px 15px;
    border: none;
    outline: none;
    background-color: rgb(230, 236, 240);
}
.form-buscar {
    margin: 2rem;
}
::placeholder {
    color: '#000';
    font-size: 1rem;
    font-weight: bolder;
}